{% extends 'index.html' %}
{% block sub_content %}
  <!-- Simple info -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body">
          <h4 class="card-title">Problema 1</h4>
          <p class="card-text">Calculare solutii matrici rare!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <form id="myForm">
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">A, b</label>
        <div class="col-sm-10">
          <input name="A" aria-label="nr-values" id="A" class="form-control" value="http://profs.info.uaic.ro/~ancai/CN/lab/4/m_rar_2019_1.txt" />
          <small id="emailHelp" class="form-text text-muted">Link to matrix A and b.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputt" class="col-sm-2 col-form-label">Precision</label>
        <div class="col-sm-10">
          <input name="t" aria-label="nr-values" type="number" id="t" class="form-control" value="8" />
          <small id="emailHelp" class="form-text text-muted">10^-t.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputpassword" class="col-sm-2 col-form-label">kmax</label>
        <div class="col-sm-10">
          <input name="kmax" aria-label="nr-values" id="b" class="form-control" value="1000" />
          <small id="emailhelp" class="form-text text-muted">Kmax.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputpassword" class="col-sm-2 col-form-label">dmax</label>
        <div class="col-sm-10">
          <input name="dmax" aria-label="nr-values" id="b" class="form-control" value="10000000000" />
          <small id="emailhelp" class="form-text text-muted">dmax.</small>
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-primary ml-auto d-block">Submit</button>

    </form>
  </div>
  <br>
  <!-- Result table -->
  <div class="container" id="result_table_container">
    <table id="result_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    </table>
  </div>
  <!-- Bootstrap core ECMAScript -->
  <script src="https://mathscribe.com/mathscribe/jqmath-etc-0.4.6.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/DataTables/js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/DataTables/js/ellipsis.js') }}"></script>
  <script type="text/javascript">
    $(function(){
      function postData(url = ``, data = {}) {
          return fetch(url, {
              method: "POST",
              body: data,
          })
          .then(response => response.json());
      }


      document.getElementById('myForm').onsubmit = (event) => {
        event.preventDefault();
        console.log(event.target);

        postData('http://localhost:27000/problema1/solution', new FormData(event.target))
          .then(data => {
            console.log(data);

            let prepared_result = data.map(data => {
              if (data[0]) {
                return [
                  data[0],
                  data[1],
                  data[2],
                  data[3],
                  '',
                ];
              } else {
                return [
                  data[0],
                  data[1],
                  '',
                  '',
                  data[2],

                ];
              }
            })

            let trx_table = $('#result_table');
            if (trx_table.parent()[0].id !== 'result_table_container') {
              trx_table.DataTable().clear();
              trx_table.dataTable().fnAddData(prepared_result);
            }
            else {
              trx_table.dataTable({
                data: prepared_result,
                columns: [
                  {title: "Found Solution?"},
                  {title: "Omega"},
                  {title: "Steps"},
                  {title: "xsor[:10]"},
                  {title: "Message"},
                ],
                columnDefs: [{
                  targets: [0, 1, 2, 3, 4],
                  render: $.fn.dataTable.render.ellipsis(64)
                }]
              });
            }
          })
          .catch(console.error);

        return false;
      };
    })
  </script>
{% endblock %}
