{% extends 'index.html' %}
{% block sub_content %}
  <!-- Simple info -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body">
          <h4 class="card-title">Square Symmetric Matrices</h4>
          <p class="card-text">Matrici patratice simetrice si aplicarea metodei puterii!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <div class="form-group row">
      <label for="staticProblemSelection" class="col-sm-2 col-form-label">Random or Loaded Matrices</label>
      <div class="col-sm-10">
        <select name="problemSelect" aria-label="staticType" id="problemSelect" class="form-control">
          <option value="RND_NON_SQUARE"> Generate random matrix </option>
          <option value="READ_NON_SQUARE"> Load predefined one(s) </option>
        </select>
        <small id="problemSelectHelp" class="form-text text-muted">Choose if you want to generate a random matrix or load one or multiple already defined matrices.</small>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <form id="myForm_RND_NON_SQUARE">
      <input hidden type="text" name="type" aria-label="" id="type" class="form-control" value="RND_NON_SQUARE"/>
      <div class="form-group row">
        <label for="staticLines" class="col-sm-2 col-form-label">Matrix lines</label>
        <div class="col-sm-10">
          <input type="number" min="2" max="2019" name="lines" aria-label="staticLines" id="lines" class="form-control" value="7"/>
          <small id="linesHelp" class="form-text text-muted">Choose how many rows the matrix should have.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticColumns" class="col-sm-2 col-form-label">Matrix columns</label>
        <div class="col-sm-10">
          <input type="number" min="2" max="2019" name="columns" aria-label="staticColumn" id="columns" class="form-control" value="5"/>
          <small id="columnsHelp" class="form-text text-muted">Choose how many columns the matrix should have.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticMaxElem" class="col-sm-2 col-form-label">Maximum of elements found in the matrix</label>
        <div class="col-sm-10">
          <input type="number" min="0" max="5000000000" name="max_elements" aria-label="staticMaxElem" id="max_elements" class="form-control" value=""/>
          <small id="maxElementsHelp" class="form-text text-muted">Maximum number of elements != 0. 0 or blank for default.</small>
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-primary ml-auto d-block">Submit</button>
    </form>
    <form id="myForm_READ_NON_SQUARE" hidden>
      <input type="hidden" name="type" aria-label="" id="type" class="form-control" value="READ_NON_SQUARE"/>
      <div class="form-group row">
        <label for="staticLines" class="col-sm-2 col-form-label">Matrix lines</label>
        <div class="col-sm-10">
          <input type="number" min="2" max="2019" name="lines" aria-label="staticLines" id="lines" class="form-control" value="7"/>
          <small id="linesHelp" class="form-text text-muted">Choose how many rows the matrix should have.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticColumns" class="col-sm-2 col-form-label">Matrix columns</label>
        <div class="col-sm-10">
          <input type="number" min="2" max="2019" name="columns" aria-label="staticColumn" id="columns" class="form-control" value="5"/>
          <small id="columnsHelp" class="form-text text-muted">Choose how many columns the matrix should have.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticMaxElem" class="col-sm-2 col-form-label">Maximum of elements found in the matrix</label>
        <div class="col-sm-10">
          <input type="number" min="0" max="5000000000" name="max_elements" aria-label="staticMaxElem" id="max_elements" class="form-control" value=""/>
          <small id="maxElementsHelp" class="form-text text-muted">Maximum number of elements != 0. 0 or blank for default.</small>
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-primary ml-auto d-block">Submit</button>
    </form>
  </div>
  <br>
  <!-- Result table -->
  <div class="container" id="result_container">
  </div>
  <!-- Bootstrap core ECMAScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/DataTables/js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/DataTables/js/ellipsis.js') }}"></script>
  <script href="https://mathscribe.com/mathscribe/jqmath-etc-0.4.6.min.js"></script>
  <script type="text/javascript">
    $(function(){
      function postData(url = ``, data = {}) {
        return fetch(url, {
          method: "POST",
          body: data,
        })
          .then(response => response.json());
      }

      document.getElementById('problemSelect').onchange = (event) => {
        const allOptions = ['RND_NON_SQUARE', 'READ_NON_SQUARE'];
        let selectedOption = event.target;
        if (selectedOption) {
          let optionsToDisplay = document.getElementById('myForm_' + selectedOption.value);
          if (optionsToDisplay) {
            optionsToDisplay.removeAttribute('hidden');
          }
          allOptions.forEach((elm) => {
            if (selectedOption && elm !== selectedOption.value) {
              let toHide = document.getElementById('myForm_' + elm);
              if (toHide) {
                toHide.setAttribute('hidden', '');
              }
            }
          });
        }
      };

      document.getElementById('myForm_RND_NON_SQUARE').onsubmit = (event) => {
        event.preventDefault();
        postData('http://{{ template['post_address'] or 'localhost:27000' }}/problema2/solution', new FormData(event.target))
          .then(data => {
            let result_container = document.getElementById('result_container');
            if (result_container.hasChildNodes()) {
              result_container.innerHTML = '';
            }
            if (data['error']) {
              let aChildNode = `
                <div class="container alert alert-secondary">
                  <div class="form-group row">
                    <label for="staticResult" class="col-sm-2 col-form-label"> Result: </label>
                    <div class="col-sm-10">
                      <input disabled type="text" name="resultError" aria-label="staticResult" id="resultError" class="form-control" value="${data['error']}"/>
                      <small id="resultHelper" class="form-text text-muted">The result of the requested method(s).</small>
                    </div>
                  </div>
                </div>
              `;
              result_container.insertAdjacentHTML('beforeend', aChildNode);
            }
            else {
              let aChildNodeList = `
              <div class="container alert alert-secondary">
                <div class="form-group row">
                  <label for="staticElemNr" class="col-sm-2 col-form-label"> Matrix Not Null Elements: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultNrElem" aria-label="staticElemNr" id="resultNrElem" class="form-control" value="${data['max_elements']}"/>
                    <small id="matrixNrElemHelper" class="form-text text-muted">The number of elements that are != 0 in the matrix.</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticTotalElemNr" class="col-sm-2 col-form-label"> Matrix Total Elements: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultTotalElem" aria-label="staticTotalElemNr" id="resultTotalElem" class="form-control" value="${data['total_elements']}"/>
                    <small id="totalNrElemHelper" class="form-text text-muted">The total number of elements in the matrix.</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticCondNr" class="col-sm-2 col-form-label"> Conditioning number: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultCondNr" aria-label="staticCondNr" id="resultCondNr" class="form-control" value="${data['conditioning_number']}"/>
                    <small id="condNrHelper" class="form-text text-muted">The conditioning number of the solution for the matrix</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticNorm" class="col-sm-2 col-form-label"> The norm: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultNorm" aria-label="staticNorm" id="resultNorm" class="form-control" value="${data['norm']}"/>
                    <small id="normHelper" class="form-text text-muted">The norm of the matrix</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticRank" class="col-sm-2 col-form-label"> The rank: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultRank" aria-label="staticRank" id="resultRank" class="form-control" value="${data['rank']}"/>
                    <small id="rankHelper" class="form-text text-muted">The rank of the matrix</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticRandomVector" class="col-sm-2 col-form-label"> Random Vector: </label>
                  <div class="col-sm-10">
                    <select disabled size="5" name="randomVector" aria-label="staticRandomVector" id="randomVector" class="form-control">
                    </select>
                    <small id="randomVectorHelp" class="form-text text-muted"> Values of the random vector. </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticSolution" class="col-sm-2 col-form-label"> Solution: </label>
                  <div class="col-sm-10">
                    <select disabled size="5" name="solution" aria-label="staticSolution" id="solution" class="form-control">
                    </select>
                    <small id="solutionHelp" class="form-text text-muted"> The values that are the solution for the matrix. </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticEigenValues" class="col-sm-2 col-form-label"> Eigen Values: </label>
                  <div class="col-sm-10">
                    <select disabled size="5" name="eigenValues" aria-label="staticEigenValues" id="eigenValues" class="form-control">
                    </select>
                    <small id="eigenValuesHelp" class="form-text text-muted"> The eigen values found for the matrix. </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticElapsedTime" class="col-sm-2 col-form-label"> Elapsed Time: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultElapsedTime" aria-label="staticElapsedTime" id="resultElapsedTime" class="form-control" value="${data['elapsed_time']}"/>
                    <small id="elapsedTimeHelper" class="form-text text-muted">The total estimated ammount of time needed to get the solution.</small>
                  </div>
                </div>
              </div>
              `;
              result_container.insertAdjacentHTML('beforeend', aChildNodeList);
              const randomVector = Object.values(data['random_vector']);
              let rndVectorSelectMenu = document.getElementById('randomVector');
              randomVector.forEach((elem) => {
                let option = document.createElement('option');
                option.appendChild(document.createTextNode(elem));
                option.value = elem;
                rndVectorSelectMenu.appendChild(option);
              });
              const solutionArr = Object.values(data['solution']);
              let solArrSelectMenu = document.getElementById('solution');
              solutionArr.forEach((elem) => {
                let option = document.createElement('option');
                option.appendChild(document.createTextNode(elem));
                option.value = elem;
                solArrSelectMenu.appendChild(option);
              });
              const eigenValues = Object.values(data['eigen_values']);
              let eigenSelectMenu = document.getElementById('eigenValues');
              eigenValues.forEach((elem) => {
                let option = document.createElement('option');
                option.appendChild(document.createTextNode(elem));
                option.value = elem;
                eigenSelectMenu.appendChild(option);
              });
            }
          })
          .catch(console.error);
        return false;
      };

      document.getElementById('myForm_READ_NON_SQUARE').onsubmit = (event) => {
        event.preventDefault();
        postData('http://localhost:27000/problema2/solution', new FormData(event.target))
          .then(data => {
            let result_container = document.getElementById('result_container');
            if (result_container.hasChildNodes()) {
              result_container.innerHTML = '';
            }
            if (data['error']) {
              let aChildNode = `
                <div class="container alert alert-secondary">
                  <div class="form-group row">
                    <label for="staticResult" class="col-sm-2 col-form-label"> Result: </label>
                    <div class="col-sm-10">
                      <input disabled type="text" name="resultError" aria-label="staticResult" id="resultError" class="form-control" value="${data['error']}"/>
                      <small id="resultHelper" class="form-text text-muted">The result of the requested method(s).</small>
                    </div>
                  </div>
                </div>
              `;
              result_container.insertAdjacentHTML('beforeend', aChildNode);
            }
            else {
              let aChildNodeList = `
              <div class="container alert alert-secondary">
                <div class="form-group row">
                  <label for="staticElemNr" class="col-sm-2 col-form-label"> Matrix Not Null Elements: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultNrElem" aria-label="staticElemNr" id="resultNrElem" class="form-control" value="${data['max_elements']}"/>
                    <small id="matrixNrElemHelper" class="form-text text-muted">The number of elements that are != 0 in the matrix.</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticTotalElemNr" class="col-sm-2 col-form-label"> Matrix Total Elements: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultTotalElem" aria-label="staticTotalElemNr" id="resultTotalElem" class="form-control" value="${data['total_elements']}"/>
                    <small id="totalNrElemHelper" class="form-text text-muted">The total number of elements in the matrix.</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticCondNr" class="col-sm-2 col-form-label"> Conditioning number: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultCondNr" aria-label="staticCondNr" id="resultCondNr" class="form-control" value="${data['conditioning_number']}"/>
                    <small id="condNrHelper" class="form-text text-muted">The conditioning number of the solution for the matrix</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticNorm" class="col-sm-2 col-form-label"> The norm: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultNorm" aria-label="staticNorm" id="resultNorm" class="form-control" value="${data['norm']}"/>
                    <small id="normHelper" class="form-text text-muted">The norm of the matrix</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticRank" class="col-sm-2 col-form-label"> The rank: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultRank" aria-label="staticRank" id="resultRank" class="form-control" value="${data['rank']}"/>
                    <small id="rankHelper" class="form-text text-muted">The rank of the matrix</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticRandomVector" class="col-sm-2 col-form-label"> Random Vector: </label>
                  <div class="col-sm-10">
                    <select disabled size="5" name="randomVector" aria-label="staticRandomVector" id="randomVector" class="form-control">
                    </select>
                    <small id="randomVectorHelp" class="form-text text-muted"> Values of the random vector. </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticSolution" class="col-sm-2 col-form-label"> Solution: </label>
                  <div class="col-sm-10">
                    <select disabled size="5" name="solution" aria-label="staticSolution" id="solution" class="form-control">
                    </select>
                    <small id="solutionHelp" class="form-text text-muted"> The values that are the solution for the matrix. </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticEigenValues" class="col-sm-2 col-form-label"> Eigen Values: </label>
                  <div class="col-sm-10">
                    <select disabled size="5" name="eigenValues" aria-label="staticEigenValues" id="eigenValues" class="form-control">
                    </select>
                    <small id="eigenValuesHelp" class="form-text text-muted"> The eigen values found for the matrix. </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticElapsedTime" class="col-sm-2 col-form-label"> Elapsed Time: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultElapsedTime" aria-label="staticElapsedTime" id="resultElapsedTime" class="form-control" value="${data['elapsed_time']}"/>
                    <small id="elapsedTimeHelper" class="form-text text-muted">The total estimated ammount of time needed to get the solution.</small>
                  </div>
                </div>
              </div>
              `;
              result_container.insertAdjacentHTML('beforeend', aChildNodeList);
              const randomVector = Object.values(data['random_vector']);
              let rndVectorSelectMenu = document.getElementById('randomVector');
              randomVector.forEach((elem) => {
                let option = document.createElement('option');
                option.appendChild(document.createTextNode(elem));
                option.value = elem;
                rndVectorSelectMenu.appendChild(option);
              });
              const solutionArr = Object.values(data['solution']);
              let solArrSelectMenu = document.getElementById('solution');
              solutionArr.forEach((elem) => {
                let option = document.createElement('option');
                option.appendChild(document.createTextNode(elem));
                option.value = elem;
                solArrSelectMenu.appendChild(option);
              });
              const eigenValues = Object.values(data['eigen_values']);
              let eigenSelectMenu = document.getElementById('eigenValues');
              eigenValues.forEach((elem) => {
                let option = document.createElement('option');
                option.appendChild(document.createTextNode(elem));
                option.value = elem;
                eigenSelectMenu.appendChild(option);
              });
            }
          })
          .catch(console.error);
        return false;
      };
    })
  </script>
{% endblock %}
