{% extends 'index.html' %}
{% block sub_content %}
  <!-- Simple info -->
  <!--suppress JSCheckFunctionSignatures -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body">
          <h4 class="card-title">Square Symmetric Matrices</h4>
          <p class="card-text">Matrici patratice simetrice si aplicarea metodei puterii!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <div class="form-group row">
      <label for="staticProblemSelection" class="col-sm-2 col-form-label">Random or Loaded Matrices</label>
      <div class="col-sm-10">
        <select name="squareProblemSelect" aria-label="staticType" id="squareProblemSelect" class="form-control">
          <option value="RND_SQUARE"> Generate random matrix </option>
          <option value="READ_SQUARE"> Load predefined one(s) </option>
        </select>
        <small id="squareProblemSelectHelp" class="form-text text-muted">Choose if you want to generate a random square matrix or load one or multiple already defined matrices.</small>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <form id="myForm_RND_SQUARE">
      <input hidden type="text" name="type" aria-label="" id="type" class="form-control" value="RND_SQUARE"/>
      <div class="form-group row">
        <label for="staticDimension" class="col-sm-2 col-form-label">Matrix dimension</label>
        <div class="col-sm-10">
          <input type="number" min="2" max="2019" name="lines" aria-label="nr-values" id="lines" class="form-control" value="500"/>
          <small id="dimensionHelp" class="form-text text-muted">Choose the dimension of the matrix. Dimension x Dimension form.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticMaxElem" class="col-sm-2 col-form-label">Maximum of elements found in the matrix</label>
        <div class="col-sm-10">
          <input type="number" min="0" max="5000000000" name="max_elements" aria-label="staticMaxElem" id="max_elements" class="form-control" value=""/>
          <small id="maxElementsHelp" class="form-text text-muted">Maximum number of elements. 0 or blank for default.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticMaxIter" class="col-sm-2 col-form-label">Maximum iterations</label>
        <div class="col-sm-10">
          <input type="number" min="0" max="5000000000" name="max_power_iter" aria-label="staticMaxIter" id="max_power_iter" class="form-control" value=""/>
          <small id="maxIterHelp" class="form-text text-muted">Maximum number of iterations for power method. 0 or blank for default.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticCheckIfRare" class="col-sm-2 col-form-label">Check to be rare</label>
        <div class="col-sm-10">
          <select size="1" name="rare" aria-label="staticCheckIfRare" id="rare" class="form-control" required="required">
            <option value="False"> False </option>
            <option value="True"> True </option>
          </select>
          <small id="checkIfRareHelp" class="form-text text-muted">Check if the matrix should have a rare structure.</small>
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-primary ml-auto d-block">Submit</button>
    </form>
    <form id="myForm_READ_SQUARE" hidden>
      <input hidden type="text" name="type" aria-label="" id="type" class="form-control" value="READ_SQUARE"/>
      <div class="form-group row">
        <label for="staticLinks" class="col-sm-2 col-form-label">Links of the matrices</label>
        <div class="col-sm-10">
          <select multiple size="4" name="link" aria-label="staticLinks" id="link" class="form-control" required="required">
            <option value="https://profs.info.uaic.ro/~ancai/CN/lab/5/m_rar_sim_2019_500.txt"> 500 x 500 matrix </option>
            <option value="https://profs.info.uaic.ro/~ancai/CN/lab/5/m_rar_sim_2019_1000.txt"> 1000 x 1000 matrix </option>
            <option value="https://profs.info.uaic.ro/~ancai/CN/lab/5/m_rar_sim_2019_1500.txt"> 1500 x 1500 matrix </option>
            <option value="https://profs.info.uaic.ro/~ancai/CN/lab/5/m_rar_sim_2019_2019.txt"> 2019 x 2019 matrix </option>
          </select>
          <small id="linksHelp" class="form-text text-muted">Links to already defined matrices.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticMaxIter" class="col-sm-2 col-form-label">Maximum iterations</label>
        <div class="col-sm-10">
          <input type="number" min="0" max="5000000000" name="max_power_iter" aria-label="staticMaxIter" id="max_power_iter" class="form-control" value=""/>
          <small id="maxIterHelp" class="form-text text-muted">Maximum number of iterations for power method. 0 or blank for default.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticCheckIfRare" class="col-sm-2 col-form-label">Check to be rare</label>
        <div class="col-sm-10">
          <select size="1" name="rare" aria-label="staticCheckIfRare" id="rare" class="form-control" required="required">
            <option value="False"> False </option>
            <option value="True"> True </option>
          </select>
          <small id="checkIfRareHelp" class="form-text text-muted">Check if the matrix should have a rare structure.</small>
        </div>
      </div>
    <button type="submit" id="submit" class="btn btn-primary ml-auto d-block">Submit</button>
    </form>
  </div>
  <br>
  <!-- Result table -->
  <div class="container" id="result_container">
  </div>
  <!-- Bootstrap core ECMAScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/DataTables/js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/DataTables/js/ellipsis.js') }}"></script>
  <script href="https://mathscribe.com/mathscribe/jqmath-etc-0.4.6.min.js"></script>
  <script type="text/javascript">
    $(function(){
      function postData(url = ``, data = {}) {
          return fetch(url, {
              method: "POST",
              body: data,
          })
          .then(response => response.json());
      }

      document.getElementById('squareProblemSelect').onchange = (event) => {
        const allOptions = ['RND_SQUARE', 'READ_SQUARE'];
        let selectedOption = event.target;
        if (selectedOption) {
          let optionsToDisplay = document.getElementById('myForm_' + selectedOption.value);
          if (optionsToDisplay) {
            optionsToDisplay.removeAttribute('hidden');
          }
          allOptions.forEach((elm) => {
            if (selectedOption && elm !== selectedOption.value) {
              let toHide = document.getElementById('myForm_' + elm);
              if (toHide) {
                toHide.setAttribute('hidden', '');
              }
            }
          });
        }
      };

      document.getElementById('myForm_RND_SQUARE').onsubmit = (event) => {
        event.preventDefault();
        postData('http://localhost:27000/problema1/solution', new FormData(event.target))
          .then(data => {
            let result_container = document.getElementById('result_container');
            if (result_container.hasChildNodes()) {
              result_container.innerHTML = '';
            }
            if (data['error']) {
              let aChildNode = `
                <div class="container alert alert-secondary">
                  <div class="form-group row">
                    <label for="staticResult" class="col-sm-2 col-form-label"> Result: </label>
                    <div class="col-sm-10">
                      <input disabled type="text" name="resultError" aria-label="staticResult" id="resultError" class="form-control" value="${data['error']}"/>
                      <small id="resultHelper" class="form-text text-muted">The result of the requested method(s).</small>
                    </div>
                  </div>
                </div>
              `;
              result_container.insertAdjacentHTML('beforeend', aChildNode);
            }
            else {
              let aChildNodeList = `
              <div class="container alert alert-secondary">
                <div class="form-group row">
                  <label for="staticElemNr" class="col-sm-2 col-form-label"> Matrix Elements: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultNrElem" aria-label="staticElemNr" id="resultNrElem" class="form-control" value="${data['total_elements']}"/>
                    <small id="matrixNrElemHelper" class="form-text text-muted">The number of elements in the matrix.</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticSymmetry" class="col-sm-2 col-form-label"> Symmetry: </label>
                  <div class="col-sm-10">
                    <input disabled type="text" name="resultSymmetry" aria-label="staticSymmetry" id="resultNrElem" class="form-control" value="${data['symmetry']['text']}"/>
                    <small id="matrixNrElemHelper" class="form-text text-muted">Is the matrix symmetric?</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticPwrMthd" class="col-sm-2 col-form-label"> Power Method: </label>
                  <div class="col-sm-10">
                    <input disabled type="text" name="resultPwrMthd" aria-label="staticPwrMthd" id="resultPwrMthd" class="form-control" value="${data['power_method']['result']}"/>
                    <small id="pwrMthdHelper" class="form-text text-muted">Was the power method successfull?</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticNrIter" class="col-sm-2 col-form-label"> Iterations: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultNrElem" aria-label="staticNrIter" id="resultNrIter" class="form-control" value="${data['power_method']['iteration']}"/>
                    <small id="nrIterHelper" class="form-text text-muted">The number of iterations executed.</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticLambda" class="col-sm-2 col-form-label"> Lambda: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultLambda" aria-label="staticLambda" id="resultLambda" class="form-control" value="${data['power_method']['lambda']}"/>
                    <small id="lambdaHelper" class="form-text text-muted">The value of the last's itteration lambda.</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticInitialVector" class="col-sm-2 col-form-label"> Initial Vector: </label>
                  <div class="col-sm-10">
                    <select disabled size="1" name="vector" aria-label="staticCheckIfRare" id="vector" class="form-control">
                    </select>
                    <small id="initialVectorHelp" class="form-text text-muted"> Values of the initial vector. </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticElapsedTime" class="col-sm-2 col-form-label"> Elapsed Time: </label>
                  <div class="col-sm-10">
                    <input disabled type="number" name="resultElapsedTime" aria-label="staticElapsedTime" id="resultElapsedTime" class="form-control" value="${data['elapsed_time']}"/>
                    <small id="elapsedTimeHelper" class="form-text text-muted">The total estimated ammount of time needed to get the solution.</small>
                  </div>
                </div>
              </div>
              `;
              result_container.insertAdjacentHTML('beforeend', aChildNodeList);
              const initialVector = Object.values(data['power_method']['initial_vector']);
              let selectMenu = document.getElementById('vector');
              initialVector.forEach((elem) => {
                let option = document.createElement('option');
                option.appendChild(document.createTextNode(elem));
                option.value = elem;
                selectMenu.appendChild(option);
              });
            }
          })
          .catch(console.error);
        return false;
      };

      document.getElementById('myForm_READ_SQUARE').onsubmit = (event) => {
        event.preventDefault();
        console.log(event.target);
        postData('http://{{ template['post_address'] or 'localhost:27000' }}/problema1/solution', new FormData(event.target))
          .then(data => {
            let result_container = document.getElementById('result_container');
            if (result_container.hasChildNodes()) {
              result_container.innerHTML = '';
            }
            if (data['error']) {
              let aChildNode = `
                <div class="container alert alert-secondary">
                  <div class="form-group row">
                    <label for="staticResult" class="col-sm-2 col-form-label"> Result: </label>
                    <div class="col-sm-10">
                      <input disabled type="text" name="resultError" aria-label="staticResult" id="resultError" class="form-control" value="${data['error']}"/>
                      <small id="resultHelper" class="form-text text-muted">The result of the requested method(s).</small>
                    </div>
                  </div>
                </div>
              `;
              result_container.insertAdjacentHTML('beforeend', aChildNode);
            }
            else {
              const dataKeys = Object.keys(data);
              for (let i = 0; i < dataKeys.length; ++i) {
                let aChildNodeList = `
                <div class="container alert alert-secondary">
                  <div class="form-group row">
                    <label for="staticLink" class="col-sm-2 col-form-label"> Matrix link: </label>
                    <div class="col-sm-10">
                      <input disabled type="text" name="resultLink" aria-label="staticLink" id="resultLink" class="form-control" value="${data[i]['link']}"/>
                      <small id="linkHelper" class="form-text text-muted">The link from which the matrix was loaded.</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="staticElemNr" class="col-sm-2 col-form-label"> Matrix Elements: </label>
                    <div class="col-sm-10">
                      <input disabled type="number" name="resultNrElem" aria-label="staticElemNr" id="resultNrElem" class="form-control" value="${data[i]['total_elements']}"/>
                      <small id="matrixNrElemHelper" class="form-text text-muted">The number of elements in the matrix.</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="staticSymmetry" class="col-sm-2 col-form-label"> Symmetry: </label>
                    <div class="col-sm-10">
                      <input disabled type="text" name="resultSymmetry" aria-label="staticSymmetry" id="resultNrElem" class="form-control" value="${data[i]['symmetry']['text']}"/>
                      <small id="matrixNrElemHelper" class="form-text text-muted">Is the matrix symmetric?</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="staticPwrMthd" class="col-sm-2 col-form-label"> Power Method: </label>
                    <div class="col-sm-10">
                      <input disabled type="text" name="resultPwrMthd" aria-label="staticPwrMthd" id="resultPwrMthd" class="form-control" value="${data[i]['power_method']['result']}"/>
                      <small id="pwrMthdHelper" class="form-text text-muted">Was the power method successfull?</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="staticNrIter" class="col-sm-2 col-form-label"> Iterations: </label>
                    <div class="col-sm-10">
                      <input disabled type="number" name="resultNrElem" aria-label="staticNrIter" id="resultNrIter" class="form-control" value="${data[i]['power_method']['iteration']}"/>
                      <small id="nrIterHelper" class="form-text text-muted">The number of iterations executed.</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="staticLambda" class="col-sm-2 col-form-label"> Lambda: </label>
                    <div class="col-sm-10">
                      <input disabled type="number" name="resultLambda" aria-label="staticLambda" id="resultLambda" class="form-control" value="${data[i]['power_method']['lambda']}"/>
                      <small id="lambdaHelper" class="form-text text-muted">The value of the last's itteration lambda.</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="staticInitialVector" class="col-sm-2 col-form-label"> Initial Vector: </label>
                    <div class="col-sm-10">
                      <select disabled size="1" name="vector" aria-label="staticCheckIfRare" id="vector" class="form-control">
                      </select>
                      <small id="initialVectorHelp" class="form-text text-muted"> Values of the initial vector. </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="staticElapsedTime" class="col-sm-2 col-form-label"> Elapsed Time: </label>
                    <div class="col-sm-10">
                      <input disabled type="number" name="resultElapsedTime" aria-label="staticElapsedTime" id="resultElapsedTime" class="form-control" value="${data[i]['elapsed_time']}"/>
                      <small id="elapsedTimeHelper" class="form-text text-muted">The total estimated ammount of time needed to get the solution.</small>
                    </div>
                  </div>
                </div>
                `;
                result_container.insertAdjacentHTML('beforeend', aChildNodeList);
                const initialVector = Object.values(data[i]['power_method']['initial_vector']);
                let selectMenu = document.getElementById('vector');
                initialVector.forEach((elem) => {
                  let option = document.createElement('option');
                  option.appendChild(document.createTextNode(elem));
                  option.value = elem;
                  selectMenu.appendChild(option);
                });
              }
            }
          })
          .catch(console.error);
        return false;
      };
    })
  </script>
{% endblock %}
