{% extends 'index.html' %}
{% block sub_content %}
  <!-- Simple info -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body">
          <h4 class="card-title">Exercitiul 3</h4>
          <p class="card-text">Introdu numarul de elemente care sa fie generate din intervalul [-PI/2, PI/2]!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <div class="row">
      <label class="col-sm-2">Numar elemente:</label>
      <div class="col-sm-10">
        {% if default_node_addr %}
          <input aria-label="nr-values" type="number" id="nr_values" class="form-control" value="{{ template['default_ex3'] }}"/>
        {% else %}
          <input aria-label="nr-values" type="number" id="nr_values" class="form-control" value="100000" />
        {% endif %}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12 text-center">
        <input type="submit" id="get_solution" class="btn btn-primary btn-lg" value="Submit">
      </div>
    </div>
  </div>
  <br>
  <!-- Result table -->
  <div class="container" id="result_table_container">
    <table id="result_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    </table>
  </div>
  <!-- Bootstrap core ECMAScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/DataTables/js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/DataTables/js/ellipsis.js') }}"></script>
  <script type="text/javascript">
    $(function(){
      $('#get_solution').click(function(){
        const the_button = document.getElementById('get_solution');
        the_button.setAttribute('disabled', '');
        const postData = {nr_values: document.getElementById('nr_values').value};
        $.ajax({
          url: 'http://127.0.0.1:27000/problema3/solution',
          type: 'POST',
          data: postData,
          success: function(response){
            // console.log(response);
            // Result table generation
            let prepared_result = [];
            for (let idx = 0; idx < response.length; idx++) {
              prepared_result.push([
                idx+1,
                response[idx]['poly_nr'],
                response[idx]['err_nr'],
                response[idx]['e_rate'],
                "" + response[idx]['time'] + " sec(s)",
              ])
            }
            let trx_table = $('#result_table');
            if (trx_table.parent()[0].id !== 'result_table_container') {
              trx_table.DataTable().clear();
              trx_table.dataTable().fnAddData(prepared_result);
            }
            else {
              trx_table.dataTable({
                data: prepared_result,
                columns: [
                  {title: "Place"},
                  {title: "Polinom Nr. #"},
                  {title: "Err. Nr. #"},
                  {title: "Err. Rate %"},
                  {title: "Estimated Time sec(s)"},
                ],
                columnDefs: [{
                  targets: [0, 1, 2, 3, 4],
                  render: $.fn.dataTable.render.ellipsis(64)
                }]
              });
            }
            the_button.removeAttribute('disabled');
          },
          error: function(error) {
            the_button.removeAttribute('disabled');
            console.log(error);
            document.html(error.responseText);
          }
        });
      });
    })
  </script>
{% endblock %}
