{% extends 'index.html' %}
{% block sub_content %}
  <!-- Simple info -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body">
          <h4 class="card-title">Exercitiul 1</h4>
          <p class="card-text">Apasa butonul pentru a vedea unde e limita erorii pc-ului tau</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <div class="row">
      <div class="col-lg-12 text-center">
        <input type="submit" id="check_error" class="btn btn-primary btn-lg" value="Check Error">
      </div>
    </div>
  </div>
  <br>
  <!-- Result table -->
  <div class="container" id="result_table_container">
    <table id="result_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    </table>
  </div>
  <!-- Bootstrap core ECMAScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/DataTables/js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/DataTables/js/ellipsis.js') }}"></script>
  <script type="text/javascript">
    $(function(){
      $('#check_error').click(function(){
        const the_button = document.getElementById('check_error');
        the_button.setAttribute('disabled', '');
        $.ajax({
          url: 'http://127.0.0.1:27000/problema1/solution',
          type: 'POST',
          success: function(response){
            // console.log(response);
            // Result table generation
            let prepared_result = [
              [
                response['message'],
                response['data']['u_precision_good'],
                response['data']['m_good'],
                response['data']['u_false'],
                response['data']['m_false'],
              ]
            ];

            let trx_table = $('#result_table');
            if (trx_table.parent()[0].id !== 'result_table_container') {
              trx_table.DataTable().clear();
              trx_table.dataTable().fnAddData(prepared_result);
            }
            else {
              trx_table.dataTable({
                data: prepared_result,
                columns: [
                  {title: "Message"},
                  {title: "Good smallest nr"},
                  {title: "Good \"-m\" power"},
                  {title: "Error smallest nr"},
                  {title: "Error \"-m\" power"}
                  ],
                columnDefs: [{
                  targets: [0, 1, 2, 3, 4],
                  render: $.fn.dataTable.render.ellipsis(64)
                }]
              });
            }
            the_button.removeAttribute('disabled');
          },
          error: function(error){
            console.log(error);
            the_button.removeAttribute('disabled');
          }
        });
      });
    })
  </script>
{% endblock %}
