{% extends 'index.html' %}
{% block sub_content %}
  <!-- Simple info -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body">
          <h4 class="card-title">Exercitiul 2</h4>
          <p class="card-text">Introdu numarul de incercari pe care vrei sa le faci!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <div class="row">
      <label class="col-sm-2">Numar incercari:</label>
      <div class="col-sm-10">
        {% if default_node_addr %}
          <input aria-label="nr-tries" type="number" id="tries" class="form-control" value="{{ template['default_ex2_tries'] }}"/>
        {% else %}
          <input aria-label="nr-tries" type="number" id="tries" class="form-control" value="300" />
        {% endif %}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12 text-center">
        <input type="submit" id="get_solution" class="btn btn-primary btn-lg" value="Submit">
      </div>
    </div>
  </div>
  <br>
  <!-- Result table -->
  <div class="container" id="result_table_container">
    <table id="result_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    </table>
  </div>
  <!-- Bootstrap core ECMAScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/DataTables/js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/DataTables/js/ellipsis.js') }}"></script>
  <script type="text/javascript">
    $(function(){
      $('#get_solution').click(function(){
        const nr_tries = document.getElementById('tries');
        const the_button = document.getElementById('get_solution');
        the_button.setAttribute('disabled', '');
        let postData = {tries: nr_tries.value};
        // console.log(postData);
        $.ajax({
          url: 'http://127.0.0.1:27000/problema2/solution',
          type: 'POST',
          data: postData,
          success: function(response){
            // console.log(response);
            // Result table generation
            let prepared_result = [];
            for (let idx = 0; idx < response.data.length; idx++) {
              prepared_result.push([
                idx+1,
                response.data[idx]['message'],
                response.data[idx]['dict']['result'],
                response.data[idx]['dict']['a'],
                response.data[idx]['dict']['b'],
                response.data[idx]['dict']['c'],
                response.data[idx]['dict']['tries'],
              ])
            }
            let trx_table = $('#result_table');
            if (trx_table.parent()[0].id !== 'result_table_container') {
              trx_table.DataTable().clear();
              trx_table.dataTable().fnAddData(prepared_result);
            }
            else {
              trx_table.dataTable({
                data: prepared_result,
                columns: [
                  {title: "#Try"},
                  {title: "Message", length: 128},
                  {title: "Assoc. Truth"},
                  {title: "A"},
                  {title: "B"},
                  {title: "C"},
                  {title: "#Extrageri"}
                ],
                columnDefs: [{
                  targets: [2, 3, 4, 5, 6],
                  render: $.fn.dataTable.render.ellipsis(64)
                }]
              });
            }
            the_button.removeAttribute('disabled');
          },
          error: function(error){
            console.log(error);
            the_button.removeAttribute('disabled');
          }
        });
      });
    })
  </script>
{% endblock %}
