{% extends 'index.html' %}
{% block sub_content %}
  <!-- Simple info -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body">
          <h4 class="card-title">Polynomial Resolution</h4>
          <p class="card-text">Calculul si aproximarea radacinilor unui polinom!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <div class="form-group row">
      <label for="staticProblemSelection" class="col-sm-2 col-form-label">Create file, upload file, read file or read link with a polynomial</label>
      <div class="col-sm-10">
        <select name="squareProblemSelect" aria-label="staticType" id="squareProblemSelect" class="form-control">
          <option value="CREATE"> Create a file with a polynomial </option>
          <option value="UPLOAD"> Upload file with a polynomial </option>
          <option value="READ_FILE"> Read polynomial from a local file </option>
          <option value="READ_LINK"> Read polynomial from an url address link </option>
        </select>
        <small id="squareProblemSelectHelp" class="form-text text-muted">Choose how you want to access the polynomial that needs a solution.</small>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <form id="myForm_CREATE">
      <input hidden type="text" name="type" aria-label="" id="type" class="form-control" value="CREATE"/>
      <div class="form-group row">
        <label for="staticCoefficients" class="col-sm-2 col-form-label">Coefficients list</label>
        <div class="col-sm-10">
          <input type="text" name="coefficients" aria-label="staticCoefficients" id="coefficients" class="form-control"
                 value="1, -6, 13, -12, 4"/>
          <small id="staticCoefficientsHelp" class="form-text text-muted">Input the coefficients of the polynomial, separated by ', '</small>
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-primary ml-auto d-block">Submit</button>
    </form>
    <form id="myForm_READ_FILE" hidden>
      <input hidden type="text" name="type" aria-label="" id="type" class="form-control" value="READ_FILE"/>
      <div class="form-group row">
        <label for="staticPolyFile" class="col-sm-2 col-form-label">Path of local file</label>
        <div class="col-sm-10">
          <input type="text" name="poly_file" aria-label="staticPolyFile" id="poly_file" class="form-control"
                 value="D:\\GeorgeFacultate\\An3\\CN\\teme\\Lab6\\public\\poly\\polynomial.txt"/>
          <small id="staticPolyFileHelp" class="form-text text-muted">Input the local path of the file with the polynomial</small>
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-primary ml-auto d-block">Submit</button>
    </form>
    <form id="myForm_READ_LINK" hidden>
      <input hidden type="text" name="type" aria-label="" id="type" class="form-control" value="READ_LINK"/>
      <div class="form-group row">
        <label for="staticPolyLink" class="col-sm-2 col-form-label">URL of polynomial</label>
        <div class="col-sm-10">
          <input type="text" name="poly_link" aria-label="staticPolyLink" id="poly_link" class="form-control"
                 value="http://127.0.0.1:27000/polynomial.txt"/>
          <small id="staticPolyLinkHelp" class="form-text text-muted">Input the url address from which the poly should be loaded. IT MUST START WITH HTTP or HTTPS</small>
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-primary ml-auto d-block">Submit</button>
    </form>
  </div>
  <br>
  <!-- Result table -->
  <div class="container" id="result_container">
  </div>
  <!-- Bootstrap core ECMAScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/DataTables/js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/DataTables/js/ellipsis.js') }}"></script>
  <script href="https://mathscribe.com/mathscribe/jqmath-etc-0.4.6.min.js"></script>
  <script type="text/javascript">
    $(function(){
      function postData(url = ``, data = {}) {
          return fetch(url, {
              method: "POST",
              body: data,
          })
          .then(response => response.json());
      }
      const allOptions = ['CREATE', 'READ_FILE', 'READ_LINK'];

      document.getElementById('squareProblemSelect').onchange = (event) => {
        let selectedOption = event.target;
        if (selectedOption) {
          let optionsToDisplay = document.getElementById('myForm_' + selectedOption.value);
          if (optionsToDisplay) {
            optionsToDisplay.removeAttribute('hidden');
          }
          allOptions.forEach((elm) => {
            if (selectedOption && elm !== selectedOption.value) {
              let toHide = document.getElementById('myForm_' + elm);
              if (toHide) {
                toHide.setAttribute('hidden', '');
              }
            }
          });
        }
      };

      let forms = [];

      allOptions.forEach((elm) => {
        forms.push(document.getElementById('myForm_' + elm));
      });

      let resultContainer = document.getElementById('result_container');
      forms.forEach((formElm) => {
        formElm.onsubmit = (event) => {
          event.preventDefault();
          if (formElm.getAttribute('hidden') == null) {
            console.log(new FormData(event.target));
            postData('http://{{ template['post_address'] or 'localhost:27000' }}/problema1/solution', new FormData(event.target)).
            then(data => {
              if (resultContainer.hasChildNodes()) {
                resultContainer.innerHTML = '';
              }
              console.log(data);
              if (data) {
                if (data.error != null) {
                  window.alert(data.error);
                  let aChildNode = `
                    <div class="container alert alert-secondary">
                      <div class="form-group row">
                        <label for="staticResult" class="col-sm-2 col-form-label"> Result: </label>
                        <div class="col-sm-10">
                          <input disabled type="text" name="resultError" aria-label="staticResult" id="resultError" class="form-control" value="${data['error']}"/>
                          <small id="resultHelper" class="form-text text-muted">The result of the requested method(s).</small>
                        </div>
                      </div>
                    </div>
                  `;
                  resultContainer.insertAdjacentHTML('beforeend', aChildNode);
                }
                else {
                  let readableDate = new Date(data['expiration'] * 1000);
                  let readableSecs = `${parseInt(data['elapsed'])} sec and ${Math.round(data['elapsed'] * 1000)} ms`;
                  let aChildNode = `
                    <div class="container alert alert-secondary">
                      <div class="form-group row">
                        <label for="staticSaveFile" class="col-sm-2 col-form-label"> Save file location: </label>
                        <div class="col-sm-10">
                          <input disabled type="text" name="saveFilePath" aria-label="staticSaveFile" id="saveFilePath" class="form-control" value="${data['file_name']}"/>
                          <small id="saveFileHelper" class="form-text text-muted">The full path of the file where the solution was written down.</small>
                        </div>
                      </div>
                    </div>
                    <div class="container alert alert-secondary">
                      <div class="form-group row">
                        <label for="staticElapTime" class="col-sm-2 col-form-label"> Elapsed time: </label>
                        <div class="col-sm-10">
                          <input disabled type="text" name="elapTime" aria-label="staticElapTime" id="elapTime" class="form-control" value="${readableSecs}"/>
                          <small id="elapTimeHelper" class="form-text text-muted">The elapsed time it took for the solution to be found.</small>
                        </div>
                      </div>
                    </div>
                    <div class="container alert alert-secondary">
                      <div class="form-group row">
                        <label for="staticExpire" class="col-sm-2 col-form-label"> File expires: </label>
                        <div class="col-sm-10">
                          <input disabled type="text" name="expire" aria-label="staticExpire" id="expire" class="form-control" value="${readableDate}"/>
                          <small id="expireHelper" class="form-text text-muted">When will the save file expire</small>
                        </div>
                      </div>
                    </div>
                    <div class="container alert alert-secondary">
                      <div class="form-group row">
                        <label for="staticHorn" class="col-sm-2 col-form-label"> Horner's Scheme: </label>
                        <div class="col-sm-10">
                          <textarea disabled rows="auto" name="horn" aria-label="staticHorn" id="horn" class="form-control" >${data['horn']['text']}</textarea>
                          <small id="hornHelper" class="form-text text-muted">How the polynomial is in Horner's scheme.</small>
                        </div>
                      </div>
                    </div>
                    <div class="container alert alert-secondary">
                      <div class="form-group row">
                        <label for="staticGCD" class="col-sm-2 col-form-label"> GCD Result: </label>
                        <div class="col-sm-10">
                          <textarea disabled type="text" name="gcdResult" aria-label="staticGCD" id="gcdResult" class="form-control" >${data['gcd']['text']}</textarea>
                          <small id="resultHelper" class="form-text text-muted">The result of the GCD</small>
                        </div>
                      </div>
                    </div>
                    <div class="container alert alert-secondary">
                      <div class="form-group row">
                        <label for="staticMultiplicityPol" class="col-sm-2 col-form-label"> Multiplicity Roots Polynomial: </label>
                        <div class="col-sm-10">
                          <textarea disabled type="text" name="multiplicityPol" aria-label="staticMultiplicityPol" id="multiplicityPol" class="form-control" >${data['multiplicity']['degree_text']}</textarea>
                          <small id="multiplicityPolHelper" class="form-text text-muted">The polynom found with the multiplicity method</small>
                        </div>
                      </div>
                    </div>
                    <div class="container alert alert-secondary">
                      <div class="form-group row">
                        <label for="staticMultiplicity" class="col-sm-2 col-form-label"> Multiplicity roots cleanup: </label>
                        <div class="col-sm-10">
                          <textarea disabled type="text" name="multiplicity" aria-label="staticMultiplicity" id="multiplicity" class="form-control" >${data['multiplicity']['text']}</textarea>
                          <small id="multiplicityHelper" class="form-text text-muted">The result of multiplicity roots cleanup method</small>
                        </div>
                      </div>
                    </div>
                    <div class="container alert alert-secondary">
                      <div class="form-group row">
                        <label for="staticHalley" class="col-sm-2 col-form-label"> Halley Result: </label>
                        <div class="col-sm-10">
                          <textarea disabled type="text" name="halley" aria-label="staticHalley" id="halley" class="form-control" >${data['halley']['text']}</textarea>
                          <small id="halleyHelper" class="form-text text-muted">The result of the Halley method</small>
                        </div>
                      </div>
                    </div>
                    `;
                  resultContainer.insertAdjacentHTML('beforeend', aChildNode);
                }
              }
            }).
            catch(error => {
             console.log(error);
             console.log(console.error);
             window.alert(error);
            });
          }
          else {
            window.alert('You are not allowed to submit a form that\'s not active!');
          }
        };
      });

    })
  </script>
{% endblock %}
