{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
  {% if status_code == '500' %}
    <h1>    Internal Server Error </h1>
    <p>    Well this is embarrassing. We are sorry for the inconvenience but there's apparently a problem on our end. We've logged the request and our admins will correct the problem as soon as possible</p>
    {%  if custom_message %}
      <p>    {{ custom_message }} </p>
    {% endif %}
  {% elif status_code == '400' %}
    <h1>    Bad Request </h1>
    <p>    Well this is problematic. Apparently the request you've submitted was not a valid one.</p>
    {%  if custom_message %}
      <p>    {{ custom_message }} </p>
    {% endif %}
  {% elif status_code == '401' %}
    <h1>    Unauthorized </h1>
    <p>    Well this is a hard egg to crack. It appears that you are not authorized to be doing such requests.</p>
    {%  if custom_message %}
      <p>    {{ custom_message }} </p>
    {% endif %}
  {% elif status_code == '402' %}
    <h1>    Payment required </h1>
    <p>    We are glad you are using us, but as all people, we really would appreciate it more if you'd also pay that first.</p>
    {%  if custom_message %}
      <p>    {{ custom_message }} </p>
    {% endif %}
  {% elif status_code == '403' %}
    <h1>    Forbidden </h1>
    <p>    Such are the ways of life, but sometimes some things are not really allowed no matter what.</p>
    {%  if custom_message %}
      <p>    {{ custom_message }} </p>
    {% endif %}
  {% elif status_code == '404' %}
    <h1>    Not found </h1>
    <p>    We've kept all the search parties out there for as long as we could, but it saddens us to say we could not find what you requested.</p>
    {%  if custom_message %}
      <p>    {{ custom_message }} </p>
    {% endif %}
  {% else %}
    <h1>    Huh What?! </h1>
    <p>    Well I'll be jelly and a pudding, but we're sorry to say this: we do not yet know where you are and how you got there!</p>
  {% endif %}
  </div>
{% endblock %}
