{% extends 'index.html' %}
{% block sub_content %}
  <!-- Simple info -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body">
          <h4 class="card-title">Interpolare numerică</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <form id="myForm_CREATE">
      <div class="form-group row">
        <label for="x" class="col-sm-2 col-form-label">x</label>
        <div class="col-sm-10">
          <input type="text" name="x" id="x" class="form-control"
                 value="0, 1, 2, 3, 4, 5"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="fx" class="col-sm-2 col-form-label">f(x)</label>
        <div class="col-sm-10">
          <input type="text" name="fx" id="fx" class="form-control"
                 value="50, 47, -2, -121, -310, -545"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="xbarat" class="col-sm-2 col-form-label">Value searched for x:</label>
        <div class="col-sm-10">
          <input type="text" name="xbarat" id="xbarat" class="form-control"
                 value="1.5"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="dl" class="col-sm-2 col-form-label">Derivata stanga</label>
        <div class="col-sm-10">
          <input type="text" name="dl" id="dl" class="form-control"
                 value="6"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="dr" class="col-sm-2 col-form-label">Derivata dreapta</label>
        <div class="col-sm-10">
          <input type="text" name="dr" id="dr" class="form-control"
                 value="-244"/>
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-primary ml-auto d-block">Submit</button>
    </form>
  </div>
  <br>

  <canvas id="canvas"></canvas>

  <!-- Result table -->
  <div class="container" id="result_container">
  </div>
  <!-- Bootstrap core ECMAScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/DataTables/js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/DataTables/js/ellipsis.js') }}"></script>
  <script href="https://mathscribe.com/mathscribe/jqmath-etc-0.4.6.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script type="text/javascript">
    window.chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
};

    $(function(){
      function postData(url = ``, data = {}) {
          return fetch(url, {
              method: "POST",
              body: data,
          })
          .then(response => response.json());
      }

      const resultContainer = document.getElementById('result_container');

      document.querySelectorAll("form").forEach((formElm) => {
        formElm.onsubmit = (event) => {
          event.preventDefault();
          console.log(new FormData(event.target));
          postData('http://{{ template['post_address'] or 'localhost:27000' }}/problema1/solution', new FormData(event.target)).
          then(data => {
            if (resultContainer.hasChildNodes()) {
              resultContainer.innerHTML = '';
            }
            console.log(data);
            if (data) {
              if (data.error != null) {
                window.alert(data.error);
                let aChildNode = `
                  <div class="container alert alert-secondary">
                    <div class="form-group row">
                      <label for="staticResult" class="col-sm-2 col-form-label"> Result: </label>
                      <div class="col-sm-10">
                        <input disabled type="text" name="resultError" aria-label="staticResult" id="resultError" class="form-control" value="${data['error']}"/>
                        <small id="resultHelper" class="form-text text-muted">The result of the requested method(s).</small>
                      </div>
                    </div>
                  </div>
                `;
                resultContainer.insertAdjacentHTML('beforeend', aChildNode);
              }
              else {
                let aChildNode = `
                  <div class="container alert alert-secondary">
                    <div class="form-group row">
                      <label for="staticHorn" class="col-sm-2 col-form-label">First form, f(x):</label>
                      <div class="col-sm-10">
                        <input type="text" disabled rows="auto" name="horn" aria-label="staticHorn" id="horn" class="form-control" value="${data['polynomial']['first']}" />
                      </div>
                    </div>
                  </div>
                  <div class="container alert alert-secondary">
                    <div class="form-group row">
                      <label for="staticHorn" class="col-sm-2 col-form-label">|Ln - f| - First form</label>
                      <div class="col-sm-10">
                        <input type="text" disabled rows="auto" name="horn" aria-label="staticHorn" id="horn" class="form-control" value="${data['polynomial']['|Ln - f| - First Form']}"/>
                      </div>
                    </div>
                  </div>
                  <div class="container alert alert-secondary">
                    <div class="form-group row">
                      <label for="staticHorn" class="col-sm-2 col-form-label">Newton,  f(x):</label>
                      <div class="col-sm-10">
                        <input type="text" disabled rows="auto" name="horn" aria-label="staticHorn" id="horn" class="form-control" value="${data['polynomial']['newton']}" />
                      </div>
                    </div>
                  </div>
                  <div class="container alert alert-secondary">
                    <div class="form-group row">
                      <label for="staticHorn" class="col-sm-2 col-form-label">|Ln - f| - Newton</label>
                      <div class="col-sm-10">
                        <input type="text" disabled rows="auto" name="horn" aria-label="staticHorn" id="horn" class="form-control" value="${data['polynomial']['|Ln - f| - Newton']}" />
                      </div>
                    </div>
                  </div>
                  <div class="container alert alert-secondary">
                    <div class="form-group row">
                      <label for="staticHorn" class="col-sm-2 col-form-label">Sf(x)</label>
                      <div class="col-sm-10">
                        <input type="text" disabled rows="auto" name="horn" aria-label="staticHorn" id="horn" class="form-control" value="${data['spline']['spline']}" />
                      </div>
                    </div>
                  </div>
                  <div class="container alert alert-secondary">
                    <div class="form-group row">
                      <label for="staticHorn" class="col-sm-2 col-form-label">|Sf(x) - f(x)|</label>
                      <div class="col-sm-10">
                        <input type="text" disabled rows="auto" name="horn" aria-label="staticHorn" id="horn" class="form-control" value="${data['spline']['|Sf(x) - f(x)|']}" />
                      </div>
                    </div>
                  </div>
                  `;
                resultContainer.insertAdjacentHTML('beforeend', aChildNode);

    let labels = data["graphs"]["labels"];
		let config = {
			type: 'line',
			data: {
				labels,
				datasets: [{
					label: 'f(x)',
					data: data["graphs"]["f_data"],
					borderColor: window.chartColors.red,
					backgroundColor: 'rgba(0, 0, 0, 0)',
					fill: false,
					cubicInterpolationMode: 'monotone'
				}, {
					label: 'Normal form',
					data: data["graphs"]["lf_data"],
					borderColor: window.chartColors.blue,
					backgroundColor: 'rgba(0, 0, 0, 0)',
					fill: false,
				}, {
					label: 'Newton form',
					data: data["graphs"]["ln_data"],
					borderColor: window.chartColors.green,
					backgroundColor: 'rgba(0, 0, 0, 0)',
					fill: false,
					lineTension: 0.5
				}, {
					label: 'Sf(x)',
					data: data["graphs"]["s_data"],
					borderColor: window.chartColors.yellow,
					backgroundColor: 'rgba(0, 0, 0, 0)',
					fill: false,
					lineTension: 0.5
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Interpolare'
				},
				tooltips: {
					mode: 'index'
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						},
						ticks: {
							suggestedMin: -10,
							suggestedMax: 200,
						}
					}]
				}
			}
		};

    let ctx = document.getElementById('canvas').getContext('2d');
    window.myLine = new Chart(ctx, config);


              }
            }
          }).
          catch(error => {
            console.log(error);
            console.log(console.error);
            window.alert(error);
          });
          return false;
        };
      });

    })
  </script>
{% endblock %}
