<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Bugeag George Tiberiu">
  <title>Homework Interface</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
  <!-- Bootstrap core CSS -->
  {% if template['name'] == 'index.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" >
  {% elif template['name'] in ['problema1.html'] %}
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/DataTables/css/datatables.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css')}}" rel="stylesheet">
  {% endif %}
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>
