{% extends 'base.html' %}
{% block content %}
<!-- Nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/home">Tema 2 - Bugeag George Tiberiu | Andrici Cezar Constantin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if template['name'] == 'index.html' %}
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/problema1">Exercitiul 1</a>
          </li>
        {% endif %}
        {% if template['name'] == 'problema1.html' %}
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/problema1">Exercitiul 1
              <span class="sr-only">(current)</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
  {% block sub_content %}
  {% endblock %}
{% endblock %}
