{% extends 'index.html' %}
{% block sub_content %}
  <!-- Simple info -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body">
          <h4 class="card-title">Problema 1</h4>
          <p class="card-text">Operatii pe matrici rare!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container alert alert-secondary">
    <form id="myForm">
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">A</label>
        <div class="col-sm-10">
          <input name="A" aria-label="nr-values" id="A" class="form-control" value="http://profs.info.uaic.ro/~ancai/CN/lab/3/a.txt" />
          <small id="emailHelp" class="form-text text-muted">Link to matrix A.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputpassword" class="col-sm-2 col-form-label">B</label>
        <div class="col-sm-10">
          <input name="B" aria-label="nr-values" id="B" class="form-control" value="http://profs.info.uaic.ro/~ancai/CN/lab/3/b.txt" />
          <small id="emailhelp" class="form-text text-muted">Link to matrix B.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputpassword" class="col-sm-2 col-form-label">A+B</label>
        <div class="col-sm-10">
          <input name="aplusb" aria-label="nr-values" id="aplusb" class="form-control" value="http://profs.info.uaic.ro/~ancai/CN/lab/3/aplusb.txt" />
          <small id="emailhelp" class="form-text text-muted">Link to matrix A+B to check if the operation was correct.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputpassword" class="col-sm-2 col-form-label">AxB</label>
        <div class="col-sm-10">
          <input name="aorib" aria-label="nr-values" id="b" class="form-control" value="http://profs.info.uaic.ro/~ancai/CN/lab/3/aorib.txt" />
          <small id="emailhelp" class="form-text text-muted">Link to matrix AxB to check if the operation was correct.</small>
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-primary ml-auto d-block">Submit</button>

    </form>
  </div>
  <br>
  <!-- Result table -->
  <div class="container" id="result_table_container">
    <table id="result_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    </table>
  </div>
  <!-- Bootstrap core ECMAScript -->
  <script src="https://mathscribe.com/mathscribe/jqmath-etc-0.4.6.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/DataTables/js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/DataTables/js/ellipsis.js') }}"></script>
  <script type="text/javascript">
    $(function(){
      function postData(url = ``, data = {}) {
          return fetch(url, {
              method: "POST",
              body: data,
          })
          .then(response => response.json());
      }


      document.getElementById('myForm').onsubmit = (event) => {
        event.preventDefault();
        console.log(event.target);

        postData('http://localhost:27000/problema1/solution', new FormData(event.target))
          .then(data => {
            console.log(data);

            let templat = `
            <div>
              <p><strong>A+B (time): </strong>${data.aplusb_time}</p>
              <p><strong>A+B (correct?): </strong>${data.aplusb_correct}</p>
              <p><strong>Ax (time): </strong>${data.ax_time}</p>
              <p><strong>A*B (time): </strong>${data.aorib_time}</p>
              <p><strong>A*B (correct?): </strong>${data.aorib_correct}</p>
              <p><strong>Total time: </strong>${data.time}</p>
            </div>
            `;

            $('#result_table').html(templat);

          })
          .catch(console.error);

        return false;
      };
    })
  </script>
{% endblock %}
